/*Css form*/

.comp-form {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #80808069;
    z-index: 10;
}

.form {
    /* font-family: GoogleSans-Thin; */
    position: absolute;
    margin: 20px 20px 10px 20px;
    background-color: #ffffff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
    width: 800px;
    height: 600px;
}

.form p {
    font-size: 18px;
    font-weight: 700;
    color: #454f63;
    margin-bottom: 11px;
}

span {
    color: black;
}

form footer {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    background-color: #f5f5f5;
    padding: 10px 20px;
}

.inputNumber {
    text-align: right;
}


/*---------Bảng date--------------*/

.datepicker.mx-datepicker {
    width: 115px;
    height: 31px;
    display: block;
    margin-right: 31px;
    text-align: right;
}

.datepicker input.mx-input {
    font-size: 13px;
    border-radius: 0;
    border: 1px solid #e2e2e2;
    text-align: right;
    height: 31px;
}

.mx-table-date .today {
    color: white;
    background-color: #2a90e9;
}

.mx-calendar-content td.cell:hover {
    color: white;
    background-color: #2a90e9;
}