.title {
    margin: 17px 20px;
    font-size: 15px;
}

.title span {
    color: #00abfe;
}

.infomation {
    display: flex;
    margin: 9px 20px;
}

.infomation p {
    font-size: 15px;
    font-weight: 500;
    color: #212121;
    margin: 8px 17px;
}

.arrow-up {
    margin-left: 9px;
    background-color: #ffffff;
}

.infomation input {
    width: 150px;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 3.5px;
    font-size: 13px;
    color: #212121;
    padding-left: 15px;
    height: 31px;
    overflow: hidden;
}