
/* Css cho phần danh sách tài sản */
table {
    border: none;
    border-collapse: collapse;
    width: 100%;
    border-bottom: 1px solid #e2e2e2;
}
.table-data {
    height: calc(100% - 130px);
    overflow: auto;
}
.table thead th {
    position: sticky;
    top: 0;
    background-color: white;
    border: none;
}

tbody {
    overflow: auto;
}
.table th,.table td {
    font-size: 14px;
    font-family: GoogleSans-Thin;
    font-weight: 200;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: middle;
}
/* xóa viền ngoài cùng bên phải của bảng  */
.table tbody td,.table tbody th {
    border: 1.7px solid #e2e2e2;
    border-right: none;
}
/* xóa viền ngoài cùng bên trái bảng  */
tbody th{
    text-align: center;
    padding: 0;
    border-left: none;
}
tr{
    cursor: pointer;
}
/* Css cho khi hover vào item */
table tbody tr:hover{
    background-color: #f0f8ff;
    transition: 0.4s;
}
/* Css cho khi click vào item */
.highlight{
    background-color: #f0f8ff;
}