/* Css cho phần danh sách tài sản  */

table {
    border: none;
    border-collapse: collapse;
    width: 100%;
    border-bottom: 1px solid #e2e2e2;
}

.table-data {
    height: calc(100% - 130px);
    overflow: auto;
}


/*----- Phần title------------------*/

.table-data thead th {
    position: sticky;
    top: 0;
    background-color: white;
    border: none;
    font-size: 10px;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-bottom: 12px;
    padding-left: 15px;
}


/*------Phần thân bảng -------------*/

tbody {
    overflow: auto;
}

.table tbody td {
    font-size: 13px;
    color: #4d4f5c;
    /* font-family: GoogleSans-Thin; */
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    /* overflow: hidden; */
    padding-top: 3px;
    padding-left: 12px;
    padding-bottom: 2px;
    cursor: pointer;
}

.table tbody td,
.table tbody th {
    border: 1px solid #e2e2e2;
    border-right: none;
    vertical-align: middle;
}


/* Css cho khi hover vào item */

table tbody tr:hover {
    background-color: #f0f8ff;
}


/* Css cho khi click vào item */

.highlight {
    background-color: #f0f8ff;
}


/* Vẽ icon cho phần chức năng */

.edit-icon {
    background: url("../../assets/icon.png") no-repeat -15px -15px;
    width: 15px;
    height: 16px;
    cursor: pointer;
}

.deleteIcon {
    background: url("../../assets/icon.png") no-repeat -43px -14px;
    width: 14px;
    height: 15px;
    cursor: pointer;
}

td.fuction-col {
    display: flex;
    border-bottom: none !important;
    text-align: center;
    min-width: 100px;
    padding-left: 20px !important;
}

.fuction-col div {
    margin: 7px;
    opacity: 0;
    visibility: hidden;
    border: none;
}


/*---------Căn giữa số thứ tự----------*/

.table-data .order {
    border-left: none;
    text-align: center !important;
    min-width: 45px;
}


/** 
  Căn giữa ngày tháng
*/

.posted_date {
    text-align: center !important;
    min-width: 140px;
}


/* khi hover vào hiển thị chức năng */

tbody tr:hover .fuction-col div {
    opacity: 1;
    visibility: visible;
}


/*item nào được active thì hiển thị cột chức năg */

.highlight .fuction-col div {
    opacity: 1;
    visibility: visible;
}

.table-data td.check-box {
    border-left: none;
    border-right: 1px solid #e2e2e2;
}

.text-alight-center {
    text-align: center !important;
}

.text-alight-right {
    text-align: right !important;
    padding-right: 13px !important;
    padding-left: 13px !important;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

table tbody tr:hover .text-alight-right {
    background-color: #f0f8ff;
}